:root {
    --header-bg-color:#52DE97;
    --nav-bg-color:#C0FFB3;
    --main-bg-color:#FFBA5A;
    --footer-bg-color:#2C7873;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 30px 0;
}
.flex {
    display: flex;
}

/* HEADER COMPONENT*/
header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--header-bg-color);
    padding-bottom: 10px;    
}
.wrap {
    max-width: 80%;
    margin: 0 auto;    
}

.triangle {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 60px solid rgb(0, 0, 0);
    margin: 0 auto 20px;
}

.contactMe {
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin: 10px auto;
    align-items: center;
    position: relative;
    -webkit-box-shadow: 3px 4px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 5px -2px rgba(0, 0, 0, 0.75);
}

.contactMe div {
    flex: 1;
}

.contactMe div img {
    position: absolute;
    padding: 5px;
    top: -25px;
    background-color: var(--header-bg-color);
}

.mailIcon::before,
.mailIcon::after {
    content: "";
    height: 50px;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    display: inline-block;
}

.mailIcon::before {
    left: -50%;
    top: 35px;
}

.mailIcon::after {
    left: 50%;
    top: -35px;
}

.phoneIcon img {
    left: 15%;
}

.mailIcon img {
    left: 47%;
}

.locationIcon img {
    left: 80%;
}

/* NAV COMPONENT*/
nav {
    background-color: var(--nav-bg-color);
}
nav ul {
    justify-content: space-around;
    max-width: 75%;
    margin: 0 auto;
    padding: 20px 0;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    transition-duration: 500ms;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}
nav ul li a:hover {
    background-color: rgb(255, 255, 255);
}
.disabledLink {
    pointer-events: none;
}

/* MAIN COMPONENT */
main {
    background-color: var(--main-bg-color);
}

.about {
    text-align: center;
    padding: 20px 0;
}
.about section {
    /* padding: 2% 0 2% 5%; */
    align-items: center;
}
.about section img {
    width: 100px;
    height: 120px;
    border-radius: 3px 3px 3px 20px;
    margin-left: 3%;
}
.about section article {
    line-height: 35px;
    max-width: 80%;
    margin: 0 auto;
}
.skills {
    flex-direction: column;
}
.skills div {
    text-align: left;
}
.skill {
    display: block;
}
/* FOOTER COMPONENT */
footer {
    background-color: var(--footer-bg-color);
}
.lastBlock {
    justify-content: space-between;
    padding: 20px;
}
.lastBlock button {
    background-color: var(--footer-bg-color);
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* MAP COMPONENT */
#map {
    height: 300px;
    width: 90%;
}